.card-container {
  background: linear-gradient(
    to bottom,
    #87cefa,
    #9acffa,
    #add8e6,
    #c0e6f5,
    #d3f3ff
  );
  height: 75vh;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.header {
  color: palegoldenrod;
  height: 10%;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular";
}
.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25%;
}

@media (max-width: 980px) {
  .header {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .card-container {
    height: unset;
  }
  .bottom-section {
    display: grid !important;
  }
}
