<div class="container">
  <div>
    <input
      type="text"
      matInput
      [formControl]="cityFormControl"
      (input)="searchCity($event)"
      (focus)="removePlaceholder()"
      [placeholder]="placeholder"
    />
    <mat-option
      *ngFor="let location of filteredLocations"
      [value]="location.city"
      (click)="onCitySelected(location.city)"
    >
      <div class="option" (click)="onAddCityToFavorites(selectedCity)">
        {{ location.city }} <span>{{ location.country }}</span>
      </div>
    </mat-option>
  </div>
  <div>
    <app-forecast-card
      [selectedCityForecast]="selectedCityForecast"
      [selectedCity]="selectedCity"
      [measureSystem]="measureSystem"
    ></app-forecast-card>
  </div>
</div>
