mat-card {
  height: 300px;
  margin: 10px;
  text-align: center;
}
.mat-mdc-card {
  background-color: lightskyblue;
  color: white;
}
.mat-mdc-card-header {
  background-color: skyblue;
  text-align: center;
  display: unset;
  padding-bottom: 10px;
}
.mdc-card__media {
  margin: 0 auto;
}
.card-image {
  width: 35%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.white-icon {
  filter: brightness(0) invert(1);
  width: 40px;
  height: fit-content;
  position: absolute;
  right: 15px;
}
.content-container {
  flex: 1; /* Make mat-card-content take up remaining space */
}
.phrase {
  font-size: 16px;
  height: 40%;
}
.day {
  color: greenyellow;
}
.symbol {
  width: 25%;
}
.night {
  color: darkslategrey;
}
