<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ getDay(dayForecast.date) }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="getImage(dayForecast.phrase)"
    alt="Card Image"
    class="card-image"
  />
  <mat-card-content class="content-container">
    <div class="phrase">
      <p>{{ dayForecast.phrase }}</p>
    </div>

    <div class="day">
      {{ convertTemperature(dayForecast.maxTemperature) }}
    </div>
    <img
      mat-card-image
      [src]="displayMeasureSystem"
      class="symbol"
      alt="symbol"
    />
    <div class="night">
      {{ convertTemperature(dayForecast.minTemperature) }}
    </div>
  </mat-card-content>
</mat-card>
