/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0 auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  padding: 30px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
}
